ul.pagination {
  display: inline-block;
  padding: 3;
  margin: 5;
  position: relative;
}

ul.pagination li {
  display: inline;
  background-color: #4caf50;
}

ul.pagination li a {
  color: rgb(255, 255, 255);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #4caf50;
  transition: background-color 0.3s;
  border: 1px solid rgb(255, 255, 255);
}

ul.pagination li a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

ul.pagination li a:focus {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: 1px solid #ffffff;
}

ul.pagination li a:hover:not(.active) {
  background-color: rgb(19, 19, 19);
}
